body{
   
   font:15px/ 1.5 Arial, Helvetica, sans-serif
   padding:0;
   margin:0;
   background-color:#f4f4f4;
}




.light{
    padding: 15px;
    background: #2c5a72;
    Color:#ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
.dark{
    padding: 15px;
    background:#35424a ;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom:10px; 
}
.button_1{
    height: 38px;
    background-color:#5b93fa;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
header ul{
    padding: 0;
    margin: 0;
}
#main-col h2:float{
    color:#5c9aeb;
    
    }
header{
    background: #35424a;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #5b93fa 9px solid;
   
}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;text-align: center;
   
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: 16px;

}
header .higlight, header .current a{
    color:#5b93fa;
    font-weight: bold;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 20px 0;
}

header #branding{
    float: left;
}
header #brandin h1{
    margin-top :20px ;
}
header nav{
    float: right;
    margin-top:10px; 
}
header a:hover{
    color: #f0e9e9;
    font-weight: bold;
}

#showcase{
    min-height:400px;
    background:url('manu.jpg')  no-repeat 0 -150px; ;
    
    text-align: left;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 50px;
     
}
#showcase p{
    font-size:20px; 
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
#newsletter h1{
    float: left;

}
#newsletter form{
    float: right;
    margin-top: 15px;

}
#newsletter input[type="email"]{
    padding: 4px;
    width: 250px;
    height: 25px;
}
aside#sidebar{
    float: left;
    width: 30%;
    margin-top: 10px;
}
article#main-col{
    float: left;
    width: 65%;

    
}
#topics a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
     color:#35424a;
}
#topics a:hover{
    color: #5b93fa;
    font-weight: bold;
}
#boxes .box a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#boxes .box a:hover{
    color:#5b93fa;
    }
footer{
    padding: 20px;
    margin-top:20px;
    color:#5b93fa;
    background-color:#35424a;
    text-align: center;
}
aricle #main-col{
    float: left;
    
}
#qwer h2:hover{
    color: #1453be;

}
@media(max-width:768px){
header #branding
header nav,
header nav li{
    float: none;
    text-align: center;
    width: 100%;
}
}